// body {
//   background-image: url("/assets/images/logistics.png");
//   background-repeat: no-repeat;

// }

.top-section {
  background-image: url("/assets/images/logistics.png");
  background-repeat: no-repeat;
  // object-fit: cover;
  width: "100%";
}

